# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
frontend/build/
build/

# IDE & OS
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
